<!-- Navigation Bar -->
<%- include('./partials/nav'); %>

<div class="dashboard-container">

	<div class="page-header">
  		<h1>Dashboard</h1>
			<% rider.forEach(function(rider) { %>
  		<p id="dashb-name">Hi <%= rider.name %>!</p>
			<p id="dashb-balance">Your points balance is: <%= rider.pointBalance %></p>
		<% }) %>
	</div>

	<!-- <div class="row">
	  <h2>Display All Rewards</h2>
		<p>Link to redeem page to see each point displayed individually</p>
	  <ul>
	  <% rewards.forEach(function(reward) { %>
	    <li><a href="/dashboard/<%= reward.id %>"><%= reward.rewardType %></a>:</li>
	  <% }) %>
	  </ul>
	</div> -->

<h2>Redeem Your Points</h2>
<form action="/redeem" method="post">
  <div class="form-group">
    <!-- <label for="title">Reward</label> -->
    <!-- <input type="text" class="form-control" name="title" id="title"> -->
		<input type="hidden" name="" value="">
  </div>

  <div class="form-group">
    <label for="reward">Reward</label>
    <select name="rewardType" id="reward-type">
			<option value="">Choose Your Reward</option>
      <% rewards.forEach(function(reward){ %>
        <option value="<%= reward.id %>"><%= reward.rewardType %>: <%= reward.pointsRequired %> Points</option>
      <% }) %>
    </select>
  </div>
  <input type="submit" class="btn btn-primary">
</form>

</div>
