<!-- Navigation Bar -->
<%- include('./partials/nav'); %>


<h1 class="redeem">Redeem Page</h1>
<p>Congratulations <%= rider.name %>!</p>
<p>You have redeemed <strong><%= reward.rewardType %></strong>   Reward for   <em><%= reward.pointsRequired %> Points</em></p>

<p>Your new balance is: <strong><%= rider.pointBalance %> Points</strong>
