<!-- Navigation Bar -->
<%- include('./partials/nav'); %>

<h1 class="redeem">Redeem Page</h1>

  <p>Congratulations <%= rider.name %>!</p>
  <p>You have redeemed a <strong><%= reward.rewardType %> for <%= reward.pointsRequired %> Points</strong></p>
  <p>Your new balance is: <strong><%= rider.pointBalance %> Points</strong>
